* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

html {
  background-color: black;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  color: white;
}
.fullbodycover {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .navbar {
    background-color: rgb(52, 52, 52);
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    display: flex;
    justify-content: space-between;

    .hading {
      text-transform: uppercase;
      font-weight: 200;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    }
    button {
      background-color: darkgrey;
      padding-inline: 1.5rem;
      padding-block: 0.3rem;
      border-radius: 10px;
      font-size: 1rem;
      text-transform: capitalize;
      transition: all ease-in-out 0.3s;
      border: none;
    }
    button:hover {
      background-color: rgb(32, 32, 32);
      color: white;
      box-shadow: 5px 5px 10px black;
    }
    button:active {
      scale: 90%;
    }
  }

  .body {
    display: flex;
    flex: 1;
    height: 100%;

    .contaner {
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      padding: 2rem;
      .cont {
        background-color: gray;
        padding: 2rem;
        max-width: 20rem;
        overflow: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        overflow: hidden;
        word-wrap: break-word;
        max-height: 10rem;

        .title {
          font-size: 1.3rem;
          text-align: center;
        }
        .desc {
          font-size: 0.8rem;
          text-align: center;
        }
        .deleteelemet {
          background-color: red;
          color: white;
          padding: 3px 5px;
          border: none;
          border-radius: 2px;
          font-size: 16px;
          cursor: pointer;
          transition: 0.3s ease;
        }
        .deleteelemet:hover {
          background-color: rgb(32, 32, 32);
          color: white;
          box-shadow: 5px 5px 10px black;
        }
        deleteelemet:active {
          scale: 90%;
        }
      }
    }

  .addnotessec {
  width: 30%;
  background: #2a2a2a;
  padding: 1rem;
  height: 100%;
}

.notecreateform {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.titleinput {
  padding: 10px 12px;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.discriptionvalueo {
  flex: 1;
  width: 100%;
  
  width: 100% !important;   
  resize: none;
  padding: 10px 12px;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

button {
  padding: 10px;
  background: #444;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
  }
}
