.contaner{
  height: 100%;
  width: 100%;
  display: flex  ;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 1rem;
  padding: 2rem;
  .cont{
    background-color: gray;
    padding: 2rem;
    min-width: 15rem;
    max-width: 20rem;
    height: 30rem;
    overflow: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title{
      font-size: 1.3rem;
      text-align: center;
    }
    .desc{
       font-size: 0.8rem;
      text-align: center;
    }
  }
}